<nav class="navbar flex justify-between items-center font-medium py-5 px-7">
    <div class="ml-10"> Collections </div>
    <ul class="nav-links hidden md:flex items-center">
        <li> <a routerLink="/home"> Home </a> </li>
        <li> <a routerLink="/women"> Women </a> </li>
        <li> <a routerLink="/men"> Men </a> </li>
        <li> <a routerLink="/search" class="flex items-center"><i class="material-icons">search</i> <p>Search</p> </a> </li>
        <li> <a routerLink="/signup" class="flex items-center ml-10"> <i class="material-icons">shopping_cart</i> <p>SignUp</p> </a> </li>
        <li> <a routerLink="/login"> Login </a> </li>
    </ul>

    <div class="md:hidden mr-5 cursor-pointer" (click)="toggleNav()"> <i class="material-icons font-bold text-3xl">menu</i> </div>
</nav>

<ul *ngIf='menuicon' class="nav-links md:hidden flex flex-col justify-between items-center py-5 h-[15rem] w-full bg-fuchsia-300 absolute shadow-sm shadow-slate-700">
    <li class="text-xl text-white font-semibold"> <a (click)="toggleNav()" class="my-9 py-5" routerLink="/home"> Home </a> </li>
    <li class="text-xl text-white font-semibold"> <a (click)="toggleNav()" class="my-9 py-5" routerLink="/women"> Women </a> </li>
    <li class="text-xl text-white font-semibold"> <a (click)="toggleNav()" class="my-9 py-5" routerLink="/men"> Men </a> </li>
    <li class="text-xl text-white font-semibold"> <a (click)="toggleNav()" class="my-9 py-5" routerLink="/signup"> SignUp </a> </li>
    <li class="text-xl text-white font-semibold"> <a (click)="toggleNav()" class="my-9 py-5" routerLink="/login"> Login </a> </li>
</ul>
