<div class="cover md:h-[80vh]">
    <h2 class='font-bold text-4xl m-auto text-center pt-20 px-6'>Make the most of your professional life</h2>
    <form class="flex flex-col justify-start items-start p-10 lg:w-[50rem] w-[90%] m-auto">

        <label for="email"> Email </label>
        <input type="email" id="email" placeholder="email" />

        <label for="password"> Password </label>
        <input type="password" id="password" placeholder="enter password" />

        <input type='button' value="Login" class='bg-purple-600 text-white font-bold w-[95%] mt-10'/>
        <p class="m-auto">or</p>
        <input type="button" value="Continue with Facebook" class='bg-purple-600 text-white font-bold w-[95%]' />
        <p class="text-end">Forgot Password? <span class='text-green'>Sign in </span> </p>
    </form>
</div>
