
p {
    color: white;
}

.women-section {
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background: linear-gradient(to right bottom, rgba(225, 133, 237, 0.507),rgba(225, 133, 237, 0.363)), url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    padding-top: 2rem;
}
   
.look {
    margin-top: 10rem;
    padding: 0 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}