<div class="cover md:h-[80vh]">
    <h2 class='font-bold text-4xl m-auto text-center px-6 pt-10'>Make the most of your professional life</h2>
    <form class="flex flex-col justify-start items-start p-10 lg:w-[50rem] w-[90%] m-auto">
        <label for="first-name"> First Name </label>
        <input type="text" id="first-name" placeholder="first name" />

        <label for="first-name"> Last Name </label>
        <input type="text" id="last-name" placeholder="last name" />

        <label for="email"> Email </label>
        <input type="email" id="email" placeholder="email" />

        <label for="password"> Password </label>
        <input type="password" id="password" placeholder="enter password" />

        <p class='m-auto py-5'>By clicking Jion now you agree to our User Privacy Policy and Conditions</p>

        <input type='button' value="Join now" class='bg-purple-600 text-white font-bold w-[95%]'/>
        <p class="m-auto">or</p>
        <input type="button" value="Continue with Facebook" class='bg-purple-600 text-white font-bold w-[95%]' />
        <p class="text-end">Already on have an account? <span class='text-green'>Sign in </span> </p>
    </form>
</div>

